<h1>{{title}}</h1>
<div id="notification2">{{err}}</div>
<div class="form">
    <form action='/register' method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="username...">

        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="password...">

        <label for="repeatPassword">Confirm-Password</label>
        <input type="password" id="repeatPassword" name="repeatPassword" placeholder="confirm-password...">
        <input type="submit" value="Register">
    </form>
</div>
<br><br><br><br><br><br><br><br><br><br>
 